.bg-blue{
	background-color: #3c8dbc !important;
}

table.watermark {
    background: url(../../imagenes/logos/logo_transparente.png);
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    /*height: 246px;*/
    margin: auto;
    z-index: 2;
    position: relative;
    background-size: contain;
}
table.watermark tr:hover{
	background: initial !important;
}
